<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.wx.db.dao.TbUserMapper">
    <sql id="userColumn">
         `id`, open_id, nickname, photo, `name`, sex, tel, email, hiredate, `role`, root, dept_id, `status`, create_time
    </sql>
    <!--假设就用nickname 和open_id 登录-->
    <select id="selectByLogin" parameterType="hashmap" resultType="com.tang.wx.db.pojo.TbUser">
        select
            <include refid="userColumn" />
        from tb_user
        where nickname = #{nickname} and open_id = #{openId}
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.tang.wx.db.pojo.TbUser" >
        select
        <include refid="userColumn" />
        from tb_user
        where id = #{id}
    </select>

    <select id="hasRootUser" resultType="java.lang.Boolean">
        select if(count(1), true, false) from tb_user where root = 1
    </select>
    
    <select id="increaseId" resultType="java.lang.Integer">
        select MAX(id) from tb_user
    </select>

    <select id="getUserPermission" parameterType="java.lang.Integer" resultType="java.lang.String">
        select distinct p.permission_name
        from tb_permission p
        join tb_role r
        on json_contains(r.permissions, cast(p.id as char))
        join tb_user u
        on json_contains(u.role, cast(r.id as char))
        where u.id = #{id}
    </select>

    <insert id="insertUser" parameterType="hashmap">
        insert into tb_user
            <trim prefix="(" suffix=")" suffixOverrides=",">
                id,
                <if test="openId != null">open_id,</if>
                <if test="nickname != null">nickname,</if>
                <if test="photo != null">photo,</if>
                <if test="name != null">`name`,</if>
                <if test="sex != null">sex,</if>
                <if test="tel != null">tel,</if>
                <if test="email != null">email,</if>
                <if test="hiredate != null">hiredate,</if>
                `role`,
                `root`,
                <if test="deptId != null">dept_id</if>
                status,
                create_time,
            </trim>
        values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{id},
                <if test="openId != null">#{openId},</if>
                <if test="nickname != null">#{nickname},</if>
                <if test="photo != null">#{photo},</if>
                <if test="name != null">#{name},</if>
                <if test="sex != null">#{sex},</if>
                <if test="tel != null">#{tel},</if>
                <if test="email != null">#{email},</if>
                <if test="hiredate != null">#{hiredate},</if>
                #{role},#{root},
                <if test="deptId != null">#{deptId},</if>
                #{status},#{createTime},
            </trim>
    </insert>
</mapper>

































